.logo {
  top: 25px;
  left: 25px;
  position: absolute;
}

.banner {
  top: 10px;
  position:absolute;
}

.mlogo {
  top: 1475px;
  left: 25px;
  position: absolute;
}

.mbanner {
  top: 1460px;
  position:absolute;
}

#introtext{
  margin-top: 200px;
}

.words{
  margin-left: 75px;
  margin-right: 75px;
}

#buttons{
    margin-left: 75px;
    margin-right: auto;
    width: 550px;
}

.button{
  height: 250px;
  width: 250px;
  font-size: 32px;
  border-radius: 100%;
  color: white;
  border: none;
}

.transform {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transform-active {
  font-size: 20px;
  height: 75px;
  width: 175px;
  border-radius: 12px;
}

#geobutton{
  margin-left: 0px;
  background-color: #4CA950
}

#tsbutton{
  margin-left: auto;
  margin-right: 0px;
  background-color: #0193D7
}

#barchart{
  margin-left: auto;
  margin-right: auto;
}

#map{
  margin-left: auto;
  margin-right: auto;
}

#tschart{
  margin-left: auto;
  margin-right: auto;
}

#mapselect{
  margin: 0 auto;
  width: 700px;
}


select {
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none;    
	margin: 0 auto;
	width: 350px;
	padding: 5px;
	height: 40px;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
}

select:hover {
}

select option {
	font-weight: bold;
	font-size: 30px;
}

select option:hover {
}

.land {
  stroke: #000000;
  stroke-width: 0.5
}

* {
 font-family: Helvetica;
}

.arcs-hoverover{
  pointer-events:none
}

/* unvisited link */
a:link {
    color: #0066ff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #0066ff;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #0099ff;
    text-decoration: none;
}
hr {
    margin-left: 10%;
    margin-right: 10%;
}
table, th, td {
    border: 1px solid black;
}

svg{
    display: block;
    margin: auto;
}


