
.logo {
	top: 25px;
}

.banner {
}

* {
 font-family: Helvetica;
}
/* unvisited link */
a:link {
    color: #0066ff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #0066ff;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #0099ff;
    text-decoration: none;
}
hr {
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
}
table, th, td {
    border: 1px solid black;
}
